In [1]:
import warnings
warnings.filterwarnings(action='ignore')
import pandas as pd
pd.options.display.max_columns = 50
pd.options.display.max_rows = 200
import numpy as numpy

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import platform
from tqdm.notebook import tqdm

# 글꼴
if platform.system() == 'Windows':  # 윈도우인 경우, 맑은 고딕
    plt.rc('font', family='Malgun Gothic')

elif platform.system() == 'Darwin':  # Mac 인 경우, AppleGothic(기본 글꼴)
    plt.rc('font', family='AppleGothic')
else:  # 리눅스
    plt.rc('font', family='NanumBarunGothic')

# matplotlib.rc('font', family='NanumBarunGothic')
plt.rcParams['axes.unicode_minus'] = False

In [3]:
df = pd.read_csv('RFM-2020-11-22_2021-05-30_RFM.csv')

In [4]:
df.shape

(1787713, 29)

In [5]:
len(df.columns)

29

In [6]:
df.head()

,ORDRR_MBER_NO,2020-11-22,2020-11-29,2020-12-06,2020-12-13,2020-12-20,2020-12-27,2021-01-03,2021-01-10,2021-01-17,2021-01-24,2021-01-31,2021-02-07,2021-02-14,2021-02-21,2021-02-28,2021-03-07,2021-03-14,2021-03-21,2021-03-28,2021-04-04,2021-04-11,2021-04-18,2021-04-25,2021-05-02,2021-05-09,2021-05-16,2021-05-23,2021-05-30
0,0,0.991968,0.963855,0.935743,0.907631,0.879518,0.851406,0.823293,0.795181,0.767068,0.738956,0.710843,0.682731,0.682731,0.666667,0.718876,0.690763,0.690763,0.670683,0.967871,0.939759,0.911647,0.883534,0.855422,0.827309,0.799197,0.771084,0.742972,0.714859
1,1,0.471231,0.435073,0.404001,0.373406,0.557229,0.562450,0.547300,0.526813,0.479093,0.450980,0.586094,0.599649,0.571536,0.575368,0.547256,0.531842,0.475948,0.641356,0.610755,0.582913,0.554874,0.524528,0.661580,0.579509,0.583133,0.532798,0.504685,0.476573
2,35,0.885907,0.827492,0.856378,0.828265,0.796185,0.784739,0.786256,0.795181,0.767068,0.699740,0.669177,0.661898,0.628263,0.708434,0.635877,0.623637,0.619334,0.824632,0.796519,0.746185,0.718072,0.689960,0.684070,0.611513,0.561178,0.533066,0.504953,0.515127
3,80,0.512354,0.478484,0.673743,0.661503,0.638153,0.626707,0.611557,0.591070,0.562958,0.534845,0.494478,0.445532,0.444779,0.422222,0.202785,0.151152,0.123039,0.429334,0.400400,0.771252,0.743245,0.711945,0.623575,0.685676,0.657564,0.629451,0.601339,0.617671
4,88,0.864914,0.882256,0.851979,0.823867,0.810040,0.781928,0.787149,0.759036,0.730924,0.702811,0.633032,0.614709,0.565763,0.597323,0.569210,0.576018,0.571715,0.876841,0.870950,0.887282,0.814726,0.764391,0.758501,0.730388,0.724498,0.740830,0.712718,0.662383

# 6개월치 RFM 평균값 컬럼 생성

In [7]:
df['6m_AVERAGE'] = df.iloc[:, 1:].mean(axis=1)

In [8]:
df.head()

,ORDRR_MBER_NO,2020-11-22,2020-11-29,2020-12-06,2020-12-13,2020-12-20,2020-12-27,2021-01-03,2021-01-10,2021-01-17,2021-01-24,2021-01-31,2021-02-07,2021-02-14,2021-02-21,2021-02-28,2021-03-07,2021-03-14,2021-03-21,2021-03-28,2021-04-04,2021-04-11,2021-04-18,2021-04-25,2021-05-02,2021-05-09,2021-05-16,2021-05-23,2021-05-30,6m_AVERAGE
0,0,0.991968,0.963855,0.935743,0.907631,0.879518,0.851406,0.823293,0.795181,0.767068,0.738956,0.710843,0.682731,0.682731,0.666667,0.718876,0.690763,0.690763,0.670683,0.967871,0.939759,0.911647,0.883534,0.855422,0.827309,0.799197,0.771084,0.742972,0.714859,0.806512
1,1,0.471231,0.435073,0.404001,0.373406,0.557229,0.562450,0.547300,0.526813,0.479093,0.450980,0.586094,0.599649,0.571536,0.575368,0.547256,0.531842,0.475948,0.641356,0.610755,0.582913,0.554874,0.524528,0.661580,0.579509,0.583133,0.532798,0.504685,0.476573,0.533856
2,35,0.885907,0.827492,0.856378,0.828265,0.796185,0.784739,0.786256,0.795181,0.767068,0.699740,0.669177,0.661898,0.628263,0.708434,0.635877,0.623637,0.619334,0.824632,0.796519,0.746185,0.718072,0.689960,0.684070,0.611513,0.561178,0.533066,0.504953,0.515127,0.705682
3,80,0.512354,0.478484,0.673743,0.661503,0.638153,0.626707,0.611557,0.591070,0.562958,0.534845,0.494478,0.445532,0.444779,0.422222,0.202785,0.151152,0.123039,0.429334,0.400400,0.771252,0.743245,0.711945,0.623575,0.685676,0.657564,0.629451,0.601339,0.617671,0.537386
4,88,0.864914,0.882256,0.851979,0.823867,0.810040,0.781928,0.787149,0.759036,0.730924,0.702811,0.633032,0.614709,0.565763,0.597323,0.569210,0.576018,0.571715,0.876841,0.870950,0.887282,0.814726,0.764391,0.758501,0.730388,0.724498,0.740830,0.712718,0.662383,0.738078

# 수능 정규분포 기반 기준점 구축

0% ~ 4% - 1
4% ~ 11% - 2
11% ~ 23% - 3
23% ~ 40% - 4
40% ~ 60% - 5
60% ~ 77% - 6
77% ~ 89% - 7
89% ~ 96% - 8
96% ~ 100% - 9

In [9]:
print('4%: ',df['6m_AVERAGE'].quantile(.04))
print('11%: ',df['6m_AVERAGE'].quantile(.11))
print('23%: ',df['6m_AVERAGE'].quantile(.23))
print('40%: ',df['6m_AVERAGE'].quantile(.40))
print('60%: ',df['6m_AVERAGE'].quantile(.60))
print('77%: ',df['6m_AVERAGE'].quantile(.77))
print('89%: ',df['6m_AVERAGE'].quantile(.89))
print('96%: ',df['6m_AVERAGE'].quantile(.96))

4%:  0.013562097184690296
11%:  0.03950925057696206
23%:  0.07842460961535752
40%:  0.10302636879296305
60%:  0.15821158028145513
77%:  0.24382326312182834
89%:  0.3576127324090057
96%:  0.5017967685352264

In [10]:
standard = pd.DataFrame({'min':[0, df['6m_AVERAGE'].quantile(.04),df['6m_AVERAGE'].quantile(.11),df['6m_AVERAGE'].quantile(.23),df['6m_AVERAGE'].quantile(.40),df['6m_AVERAGE'].quantile(.60),df['6m_AVERAGE'].quantile(.77),df['6m_AVERAGE'].quantile(.89),df['6m_AVERAGE'].quantile(.96)], 'max':[df['6m_AVERAGE'].quantile(.04),df['6m_AVERAGE'].quantile(.11),df['6m_AVERAGE'].quantile(.23),df['6m_AVERAGE'].quantile(.40),df['6m_AVERAGE'].quantile(.60),df['6m_AVERAGE'].quantile(.77),df['6m_AVERAGE'].quantile(.89),df['6m_AVERAGE'].quantile(.96),1], 'grade':[9,8,7,6,5,4,3,2,1]})

In [11]:
standard

        min       max  grade
0  0.000000  0.013562      9
1  0.013562  0.039509      8
2  0.039509  0.078425      7
3  0.078425  0.103026      6
4  0.103026  0.158212      5
5  0.158212  0.243823      4
6  0.243823  0.357613      3
7  0.357613  0.501797      2
8  0.501797  1.000000      1

In [12]:
df.loc[((df['6m_AVERAGE'] >= standard.iloc[1]['min'])&(df['6m_AVERAGE'] < standard.iloc[1]['max']))]

,ORDRR_MBER_NO,2020-11-22,2020-11-29,2020-12-06,2020-12-13,2020-12-20,2020-12-27,2021-01-03,2021-01-10,2021-01-17,2021-01-24,2021-01-31,2021-02-07,2021-02-14,2021-02-21,2021-02-28,2021-03-07,2021-03-14,2021-03-21,2021-03-28,2021-04-04,2021-04-11,2021-04-18,2021-04-25,2021-05-02,2021-05-09,2021-05-16,2021-05-23,2021-05-30,6m_AVERAGE
31,798,0.197624,0.168061,0.139876,0.111316,0.083675,0.055409,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.026999
109,2311,0.176788,0.146742,0.118292,0.089583,0.061835,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.021187
132,3342,0.240329,0.208765,0.179486,0.150309,0.122224,0.093746,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.035531
148,4075,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.425135,0.398517,0.029416
183,5028,0.218186,0.187571,0.158810,0.129926,0.102051,0.073673,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.031079
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1787707,5858115,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.392037,0.014001
1787708,5858118,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.395659,0.014131
1787710,5858132,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.413052,0.014752
1787711,5858133,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.381429,0.013622
1787712,5858146,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.398534,0.014233

In [13]:
df['GRADE'] = None

In [14]:
for i in tqdm(range(0, 9)):
    df.loc[((df['6m_AVERAGE'] >= standard.iloc[i]['min'])&(df['6m_AVERAGE'] < standard.iloc[i]['max'])) ,'GRADE'] = standard.iloc[i]['grade']
    print('{}등급 완료'.format(i+1))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=9.0), HTML(value='')))

1등급 완료
2등급 완료
3등급 완료
4등급 완료
5등급 완료
6등급 완료
7등급 완료
8등급 완료
9등급 완료

In [15]:
df['GRADE'].value_counts()

5.0    357545
4.0    303911
6.0    303909
7.0    214525
3.0    214525
8.0    125140
2.0    125140
9.0     71509
1.0     71509
Name: GRADE, dtype: int64

In [16]:
df.to_csv('RFM-2020-11-22_2021-05-30_RFM_grade_total.csv', index=False)

- 등급마다 분류

In [59]:
df[df['GRADE'] == 1].to_csv('RFM-2020-11-22_2021-05-30_RFM_grade_1.csv', index=False)
df[df['GRADE'] == 2].to_csv('RFM-2020-11-22_2021-05-30_RFM_grade_2.csv', index=False)
df[df['GRADE'] == 3].to_csv('RFM-2020-11-22_2021-05-30_RFM_grade_3.csv', index=False)
df[df['GRADE'] == 4].to_csv('RFM-2020-11-22_2021-05-30_RFM_grade_4.csv', index=False)
df[df['GRADE'] == 5].to_csv('RFM-2020-11-22_2021-05-30_RFM_grade_5.csv', index=False)
df[df['GRADE'] == 6].to_csv('RFM-2020-11-22_2021-05-30_RFM_grade_6.csv', index=False)
df[df['GRADE'] == 7].to_csv('RFM-2020-11-22_2021-05-30_RFM_grade_7.csv', index=False)
df[df['GRADE'] == 8].to_csv('RFM-2020-11-22_2021-05-30_RFM_grade_8.csv', index=False)
df[df['GRADE'] == 9].to_csv('RFM-2020-11-22_2021-05-30_RFM_grade_9.csv', index=False)

# R, F, M 28주 평균값 컬럼 추가

In [2]:
df = pd.read_csv('RFM-2020-11-22_2021-05-30_RFM_grade_total.csv')

In [3]:
df.shape

(1787713, 31)

In [4]:
df.columns

Index(['ORDRR_MBER_NO', '2020-11-22', '2020-11-29', '2020-12-06', '2020-12-13',
       '2020-12-20', '2020-12-27', '2021-01-03', '2021-01-10', '2021-01-17',
       '2021-01-24', '2021-01-31', '2021-02-07', '2021-02-14', '2021-02-21',
       '2021-02-28', '2021-03-07', '2021-03-14', '2021-03-21', '2021-03-28',
       '2021-04-04', '2021-04-11', '2021-04-18', '2021-04-25', '2021-05-02',
       '2021-05-09', '2021-05-16', '2021-05-23', '2021-05-30', '6m_AVERAGE',
       'GRADE'],
      dtype='object')

In [5]:
df.head()

,ORDRR_MBER_NO,2020-11-22,2020-11-29,2020-12-06,2020-12-13,2020-12-20,2020-12-27,2021-01-03,2021-01-10,2021-01-17,2021-01-24,2021-01-31,2021-02-07,2021-02-14,2021-02-21,2021-02-28,2021-03-07,2021-03-14,2021-03-21,2021-03-28,2021-04-04,2021-04-11,2021-04-18,2021-04-25,2021-05-02,2021-05-09,2021-05-16,2021-05-23,2021-05-30,6m_AVERAGE,GRADE
0,0,0.991968,0.963855,0.935743,0.907631,0.879518,0.851406,0.823293,0.795181,0.767068,0.738956,0.710843,0.682731,0.682731,0.666667,0.718876,0.690763,0.690763,0.670683,0.967871,0.939759,0.911647,0.883534,0.855422,0.827309,0.799197,0.771084,0.742972,0.714859,0.806512,1.0
1,1,0.471231,0.435073,0.404001,0.373406,0.557229,0.562450,0.547300,0.526813,0.479093,0.450980,0.586094,0.599649,0.571536,0.575368,0.547256,0.531842,0.475948,0.641356,0.610755,0.582913,0.554874,0.524528,0.661580,0.579509,0.583133,0.532798,0.504685,0.476573,0.533856,1.0
2,35,0.885907,0.827492,0.856378,0.828265,0.796185,0.784739,0.786256,0.795181,0.767068,0.699740,0.669177,0.661898,0.628263,0.708434,0.635877,0.623637,0.619334,0.824632,0.796519,0.746185,0.718072,0.689960,0.684070,0.611513,0.561178,0.533066,0.504953,0.515127,0.705682,1.0
3,80,0.512354,0.478484,0.673743,0.661503,0.638153,0.626707,0.611557,0.591070,0.562958,0.534845,0.494478,0.445532,0.444779,0.422222,0.202785,0.151152,0.123039,0.429334,0.400400,0.771252,0.743245,0.711945,0.623575,0.685676,0.657564,0.629451,0.601339,0.617671,0.537386,1.0
4,88,0.864914,0.882256,0.851979,0.823867,0.810040,0.781928,0.787149,0.759036,0.730924,0.702811,0.633032,0.614709,0.565763,0.597323,0.569210,0.576018,0.571715,0.876841,0.870950,0.887282,0.814726,0.764391,0.758501,0.730388,0.724498,0.740830,0.712718,0.662383,0.738078,1.0

In [5]:
df.rename(columns={'6m_AVERAGE':'RFM_AVG'}, inplace=True)

In [6]:
df_R = pd.read_csv('RFM-2020-11-22_2021-05-30_RECENCY.csv')

In [7]:
display(df_R.head())

,ORDRR_MBER_NO,2020-11-22,2020-11-29,2020-12-06,2020-12-13,2020-12-20,2020-12-27,2021-01-03,2021-01-10,2021-01-17,2021-01-24,2021-01-31,2021-02-07,2021-02-14,2021-02-21,2021-02-28,2021-03-07,2021-03-14,2021-03-21,2021-03-28,2021-04-04,2021-04-11,2021-04-18,2021-04-25,2021-05-02,2021-05-09,2021-05-16,2021-05-23,2021-05-30
0,0,0.975904,0.891566,0.807229,0.722892,0.638554,0.554217,0.469880,0.385542,0.301205,0.216867,0.132530,0.048193,0.048193,0.000000,0.156627,0.072289,0.072289,0.012048,0.903614,0.819277,0.734940,0.650602,0.566265,0.481928,0.397590,0.313253,0.228916,0.144578
1,1,0.759036,0.674699,0.590361,0.506024,0.421687,0.337349,0.253012,0.168675,0.084337,0.000000,0.445783,0.361446,0.277108,0.192771,0.108434,0.024096,0.000000,0.939759,0.855422,0.771084,0.686747,0.602410,0.518072,0.433735,0.349398,0.265060,0.180723,0.096386
2,35,0.975904,0.891566,0.807229,0.722892,0.638554,0.554217,0.469880,0.385542,0.301205,0.216867,0.132530,0.048193,0.072289,0.325301,0.240964,0.156627,0.072289,0.807229,0.722892,0.638554,0.554217,0.469880,0.385542,0.301205,0.216867,0.132530,0.048193,0.012048
3,80,0.951807,0.867470,0.783133,0.698795,0.614458,0.530120,0.445783,0.361446,0.277108,0.192771,0.108434,0.024096,0.084337,0.000000,0.048193,0.084337,0.000000,0.939759,0.855422,0.927711,0.843373,0.759036,0.674699,0.590361,0.506024,0.421687,0.337349,0.253012
4,88,0.867470,0.783133,0.698795,0.614458,0.530120,0.445783,0.361446,0.277108,0.192771,0.108434,0.024096,0.156627,0.072289,0.325301,0.240964,0.156627,0.072289,0.963855,0.879518,0.795181,0.710843,0.626506,0.542169,0.457831,0.373494,0.289157,0.204819,0.120482

In [8]:
df['R_AVG'] = df_R.iloc[:, 1:].mean(axis=1)

In [9]:
df_F = pd.read_csv('RFM-2020-11-22_2021-05-30_FREQUENCY.csv')

In [10]:
display(df_F.head())

,ORDRR_MBER_NO,2020-11-22,2020-11-29,2020-12-06,2020-12-13,2020-12-20,2020-12-27,2021-01-03,2021-01-10,2021-01-17,2021-01-24,2021-01-31,2021-02-07,2021-02-14,2021-02-21,2021-02-28,2021-03-07,2021-03-14,2021-03-21,2021-03-28,2021-04-04,2021-04-11,2021-04-18,2021-04-25,2021-05-02,2021-05-09,2021-05-16,2021-05-23,2021-05-30
0,0,1.000000,1.000000,1.000000,1.000000,1.00,1.00,1.000000,1.000000,1.000000,1.000000,1.0000,1.0000,1.0000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,1,0.090909,0.090909,0.095238,0.095238,0.25,0.35,0.388889,0.411765,0.352941,0.352941,0.3125,0.4375,0.4375,0.533333,0.533333,0.571429,0.428571,0.333333,0.333333,0.333333,0.333333,0.333333,0.466667,0.333333,0.400000,0.333333,0.333333,0.333333
2,35,0.681818,0.590909,0.761905,0.761905,0.75,0.80,0.888889,1.000000,1.000000,0.882353,0.8750,0.9375,0.8125,0.800000,0.666667,0.714286,0.785714,0.666667,0.666667,0.600000,0.600000,0.600000,0.666667,0.533333,0.466667,0.466667,0.466667,0.533333
3,80,0.181818,0.181818,0.238095,0.285714,0.30,0.35,0.388889,0.411765,0.411765,0.411765,0.3750,0.3125,0.2500,0.266667,0.200000,0.142857,0.142857,0.133333,0.133333,0.466667,0.466667,0.466667,0.400000,0.466667,0.466667,0.466667,0.466667,0.600000
4,88,0.727273,0.863636,0.857143,0.857143,0.90,0.90,1.000000,1.000000,1.000000,1.000000,0.8750,0.6875,0.6250,0.466667,0.466667,0.571429,0.642857,0.666667,0.733333,0.866667,0.733333,0.666667,0.733333,0.733333,0.800000,0.933333,0.933333,0.866667

In [11]:
df['F_AVG'] = df_F.iloc[:, 1:].mean(axis=1)

In [12]:
df_M = pd.read_csv('RFM-2020-11-22_2021-05-30_MONETARY.csv')

In [13]:
display(df_M.head())

,ORDRR_MBER_NO,2020-11-22,2020-11-29,2020-12-06,2020-12-13,2020-12-20,2020-12-27,2021-01-03,2021-01-10,2021-01-17,2021-01-24,2021-01-31,2021-02-07,2021-02-14,2021-02-21,2021-02-28,2021-03-07,2021-03-14,2021-03-21,2021-03-28,2021-04-04,2021-04-11,2021-04-18,2021-04-25,2021-05-02,2021-05-09,2021-05-16,2021-05-23,2021-05-30
0,0,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.0
1,1,0.563748,0.539613,0.526403,0.518956,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.000000,1.000000,0.999273,0.650976,0.643511,0.644322,0.644542,0.637841,1.000000,0.971459,1.0,1.0,1.0,1.0
2,35,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.0
3,80,0.403437,0.386164,1.000000,1.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.360161,0.226261,0.226261,0.214909,0.212444,0.919379,0.919694,0.910132,0.796026,1.000000,1.0,1.0,1.0,1.0
4,88,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.0

In [14]:
df['M_AVG'] = df_M.iloc[:, 1:].mean(axis=1)

In [15]:
df.head()

,ORDRR_MBER_NO,2020-11-22,2020-11-29,2020-12-06,2020-12-13,2020-12-20,2020-12-27,2021-01-03,2021-01-10,2021-01-17,2021-01-24,2021-01-31,2021-02-07,2021-02-14,2021-02-21,2021-02-28,2021-03-07,2021-03-14,2021-03-21,2021-03-28,2021-04-04,2021-04-11,2021-04-18,2021-04-25,2021-05-02,2021-05-09,2021-05-16,2021-05-23,2021-05-30,RFM_AVG,GRADE,R_AVG,F_AVG,M_AVG
0,0,0.991968,0.963855,0.935743,0.907631,0.879518,0.851406,0.823293,0.795181,0.767068,0.738956,0.710843,0.682731,0.682731,0.666667,0.718876,0.690763,0.690763,0.670683,0.967871,0.939759,0.911647,0.883534,0.855422,0.827309,0.799197,0.771084,0.742972,0.714859,0.806512,1.0,0.419535,1.000000,1.000000
1,1,0.471231,0.435073,0.404001,0.373406,0.557229,0.562450,0.547300,0.526813,0.479093,0.450980,0.586094,0.599649,0.571536,0.575368,0.547256,0.531842,0.475948,0.641356,0.610755,0.582913,0.554874,0.524528,0.661580,0.579509,0.583133,0.532798,0.504685,0.476573,0.533856,1.0,0.389415,0.342845,0.869309
2,35,0.885907,0.827492,0.856378,0.828265,0.796185,0.784739,0.786256,0.795181,0.767068,0.699740,0.669177,0.661898,0.628263,0.708434,0.635877,0.623637,0.619334,0.824632,0.796519,0.746185,0.718072,0.689960,0.684070,0.611513,0.561178,0.533066,0.504953,0.515127,0.705682,1.0,0.403614,0.713433,1.000000
3,80,0.512354,0.478484,0.673743,0.661503,0.638153,0.626707,0.611557,0.591070,0.562958,0.534845,0.494478,0.445532,0.444779,0.422222,0.202785,0.151152,0.123039,0.429334,0.400400,0.771252,0.743245,0.711945,0.623575,0.685676,0.657564,0.629451,0.601339,0.617671,0.537386,1.0,0.470740,0.335173,0.806245
4,88,0.864914,0.882256,0.851979,0.823867,0.810040,0.781928,0.787149,0.759036,0.730924,0.702811,0.633032,0.614709,0.565763,0.597323,0.569210,0.576018,0.571715,0.876841,0.870950,0.887282,0.814726,0.764391,0.758501,0.730388,0.724498,0.740830,0.712718,0.662383,0.738078,1.0,0.424699,0.789535,1.000000

In [18]:
df.columns

Index(['ORDRR_MBER_NO', '2020-11-22', '2020-11-29', '2020-12-06', '2020-12-13',
       '2020-12-20', '2020-12-27', '2021-01-03', '2021-01-10', '2021-01-17',
       '2021-01-24', '2021-01-31', '2021-02-07', '2021-02-14', '2021-02-21',
       '2021-02-28', '2021-03-07', '2021-03-14', '2021-03-21', '2021-03-28',
       '2021-04-04', '2021-04-11', '2021-04-18', '2021-04-25', '2021-05-02',
       '2021-05-09', '2021-05-16', '2021-05-23', '2021-05-30', 'RFM_AVG',
       'GRADE', 'R_AVG', 'F_AVG', 'M_AVG'],
      dtype='object')

In [16]:
df = pd.DataFrame(df[['ORDRR_MBER_NO', '2020-11-22', '2020-11-29', '2020-12-06', '2020-12-13',
       '2020-12-20', '2020-12-27', '2021-01-03', '2021-01-10', '2021-01-17',
       '2021-01-24', '2021-01-31', '2021-02-07', '2021-02-14', '2021-02-21',
       '2021-02-28', '2021-03-07', '2021-03-14', '2021-03-21', '2021-03-28',
       '2021-04-04', '2021-04-11', '2021-04-18', '2021-04-25', '2021-05-02',
       '2021-05-09', '2021-05-16', '2021-05-23', '2021-05-30', 'R_AVG', 'F_AVG', 'M_AVG','RFM_AVG',
       'GRADE']])

In [17]:
df.shape

(1787713, 34)

In [18]:
df.head()

,ORDRR_MBER_NO,2020-11-22,2020-11-29,2020-12-06,2020-12-13,2020-12-20,2020-12-27,2021-01-03,2021-01-10,2021-01-17,2021-01-24,2021-01-31,2021-02-07,2021-02-14,2021-02-21,2021-02-28,2021-03-07,2021-03-14,2021-03-21,2021-03-28,2021-04-04,2021-04-11,2021-04-18,2021-04-25,2021-05-02,2021-05-09,2021-05-16,2021-05-23,2021-05-30,R_AVG,F_AVG,M_AVG,RFM_AVG,GRADE
0,0,0.991968,0.963855,0.935743,0.907631,0.879518,0.851406,0.823293,0.795181,0.767068,0.738956,0.710843,0.682731,0.682731,0.666667,0.718876,0.690763,0.690763,0.670683,0.967871,0.939759,0.911647,0.883534,0.855422,0.827309,0.799197,0.771084,0.742972,0.714859,0.419535,1.000000,1.000000,0.806512,1.0
1,1,0.471231,0.435073,0.404001,0.373406,0.557229,0.562450,0.547300,0.526813,0.479093,0.450980,0.586094,0.599649,0.571536,0.575368,0.547256,0.531842,0.475948,0.641356,0.610755,0.582913,0.554874,0.524528,0.661580,0.579509,0.583133,0.532798,0.504685,0.476573,0.389415,0.342845,0.869309,0.533856,1.0
2,35,0.885907,0.827492,0.856378,0.828265,0.796185,0.784739,0.786256,0.795181,0.767068,0.699740,0.669177,0.661898,0.628263,0.708434,0.635877,0.623637,0.619334,0.824632,0.796519,0.746185,0.718072,0.689960,0.684070,0.611513,0.561178,0.533066,0.504953,0.515127,0.403614,0.713433,1.000000,0.705682,1.0
3,80,0.512354,0.478484,0.673743,0.661503,0.638153,0.626707,0.611557,0.591070,0.562958,0.534845,0.494478,0.445532,0.444779,0.422222,0.202785,0.151152,0.123039,0.429334,0.400400,0.771252,0.743245,0.711945,0.623575,0.685676,0.657564,0.629451,0.601339,0.617671,0.470740,0.335173,0.806245,0.537386,1.0
4,88,0.864914,0.882256,0.851979,0.823867,0.810040,0.781928,0.787149,0.759036,0.730924,0.702811,0.633032,0.614709,0.565763,0.597323,0.569210,0.576018,0.571715,0.876841,0.870950,0.887282,0.814726,0.764391,0.758501,0.730388,0.724498,0.740830,0.712718,0.662383,0.424699,0.789535,1.000000,0.738078,1.0

In [19]:
df.to_csv('RFM-2020-11-22_2021-05-30_grade_average_total.csv', index=False)

# 고객 세그멘테이션 분류(1차) - 제외

## 기준표 생성

R, F, M, RFM 비율별 기준값 df 생성(5 ~ 100 / 5%p 단위)

In [45]:
np.arange(0.05, 1.05, 0.05)

array([0.05, 0.1 , 0.15, 0.2 , 0.25, 0.3 , 0.35, 0.4 , 0.45, 0.5 , 0.55,
       0.6 , 0.65, 0.7 , 0.75, 0.8 , 0.85, 0.9 , 0.95, 1.  ])

In [21]:
qlist = [0.05, 0.1 , 0.15, 0.2 , 0.25, 0.3 , 0.35, 0.4 , 0.45, 0.5 , 0.55,0.6 , 0.65, 0.7 , 0.75, 0.8 , 0.85, 0.9 , 0.95, 1]

In [22]:
qlist

[0.05,
 0.1,
 0.15,
 0.2,
 0.25,
 0.3,
 0.35,
 0.4,
 0.45,
 0.5,
 0.55,
 0.6,
 0.65,
 0.7,
 0.75,
 0.8,
 0.85,
 0.9,
 0.95,
 1]

In [27]:
df.head()

,ORDRR_MBER_NO,2020-11-22,2020-11-29,2020-12-06,2020-12-13,2020-12-20,2020-12-27,2021-01-03,2021-01-10,2021-01-17,2021-01-24,2021-01-31,2021-02-07,2021-02-14,2021-02-21,2021-02-28,2021-03-07,2021-03-14,2021-03-21,2021-03-28,2021-04-04,2021-04-11,2021-04-18,2021-04-25,2021-05-02,2021-05-09,2021-05-16,2021-05-23,2021-05-30,R_AVG,F_AVG,M_AVG,RFM_AVG,GRADE
0,0,0.991968,0.963855,0.935743,0.907631,0.879518,0.851406,0.823293,0.795181,0.767068,0.738956,0.710843,0.682731,0.682731,0.666667,0.718876,0.690763,0.690763,0.670683,0.967871,0.939759,0.911647,0.883534,0.855422,0.827309,0.799197,0.771084,0.742972,0.714859,0.290546,0.064113,0.168533,0.806512,1.0
1,1,0.471231,0.435073,0.404001,0.373406,0.557229,0.562450,0.547300,0.526813,0.479093,0.450980,0.586094,0.599649,0.571536,0.575368,0.547256,0.531842,0.475948,0.641356,0.610755,0.582913,0.554874,0.524528,0.661580,0.579509,0.583133,0.532798,0.504685,0.476573,0.289887,0.063508,0.169187,0.533856,1.0
2,35,0.885907,0.827492,0.856378,0.828265,0.796185,0.784739,0.786256,0.795181,0.767068,0.699740,0.669177,0.661898,0.628263,0.708434,0.635877,0.623637,0.619334,0.824632,0.796519,0.746185,0.718072,0.689960,0.684070,0.611513,0.561178,0.533066,0.504953,0.515127,0.279601,0.066463,0.170255,0.705682,1.0
3,80,0.512354,0.478484,0.673743,0.661503,0.638153,0.626707,0.611557,0.591070,0.562958,0.534845,0.494478,0.445532,0.444779,0.422222,0.202785,0.151152,0.123039,0.429334,0.400400,0.771252,0.743245,0.711945,0.623575,0.685676,0.657564,0.629451,0.601339,0.617671,0.267718,0.066842,0.172107,0.537386,1.0
4,88,0.864914,0.882256,0.851979,0.823867,0.810040,0.781928,0.787149,0.759036,0.730924,0.702811,0.633032,0.614709,0.565763,0.597323,0.569210,0.576018,0.571715,0.876841,0.870950,0.887282,0.814726,0.764391,0.758501,0.730388,0.724498,0.740830,0.712718,0.662383,0.259894,0.071570,0.176229,0.738078,1.0

In [23]:
standard_R = pd.DataFrame({'기준':[0],'quantile':[0]})
standard_F = pd.DataFrame({'기준':[0],'quantile':[0]})
standard_M = pd.DataFrame({'기준':[0],'quantile':[0]})
standard_RFM = pd.DataFrame({'기준':[0],'quantile':[0]})

In [24]:
for i in qlist:
    extra = pd.DataFrame({'기준':[i],'quantile':[df['R_AVG'].quantile(i)]})
    standard_R = pd.concat([standard_R, extra])

standard_R = standard_R.reset_index().drop(columns='index')

In [25]:
for i in qlist:
    extra = pd.DataFrame({'기준':[i],'quantile':[df['F_AVG'].quantile(i)]})
    standard_F = pd.concat([standard_F, extra])

standard_F = standard_F.reset_index().drop(columns='index')

In [26]:
for i in qlist:
    extra = pd.DataFrame({'기준':[i],'quantile':[df['M_AVG'].quantile(i)]})
    standard_M = pd.concat([standard_M, extra])

standard_M = standard_M.reset_index().drop(columns='index')

In [27]:
for i in qlist:
    extra = pd.DataFrame({'기준':[i],'quantile':[df['RFM_AVG'].quantile(i)]})
    standard_RFM = pd.concat([standard_RFM, extra])

standard_RFM = standard_RFM.reset_index().drop(columns='index')

In [28]:
print('R:')
display(standard_R)
print('F:')
display(standard_F)
print('M:')
display(standard_M)
print('RFM:')
display(standard_RFM)

R:

      기준  quantile
0   0.00  0.000000
1   0.05  0.033133
2   0.10  0.066265
3   0.15  0.104991
4   0.20  0.139845
5   0.25  0.168675
6   0.30  0.189759
7   0.35  0.198795
8   0.40  0.204389
9   0.45  0.210413
10  0.50  0.217728
11  0.55  0.224613
12  0.60  0.233649
13  0.65  0.273666
14  0.70  0.325301
15  0.75  0.368330
16  0.80  0.400172
17  0.85  0.425990
18  0.90  0.455250
19  0.95  0.496558
20  1.00  0.691480

F:

      기준  quantile
0   0.00  0.000000
1   0.05  0.004870
2   0.10  0.009524
3   0.15  0.014286
4   0.20  0.018290
5   0.25  0.021429
6   0.30  0.024337
7   0.35  0.026633
8   0.40  0.028614
9   0.45  0.028912
10  0.50  0.038405
11  0.55  0.047619
12  0.60  0.055102
13  0.65  0.063939
14  0.70  0.078503
15  0.75  0.094362
16  0.80  0.116613
17  0.85  0.150000
18  0.90  0.202828
19  0.95  0.309818
20  1.00  1.000000

M:

      기준  quantile
0   0.00  0.000000
1   0.05  0.007519
2   0.10  0.014640
3   0.15  0.022012
4   0.20  0.029713
5   0.25  0.037539
6   0.30  0.046804
7   0.35  0.056671
8   0.40  0.068701
9   0.45  0.082625
10  0.50  0.099108
11  0.55  0.118039
12  0.60  0.141350
13  0.65  0.169792
14  0.70  0.205447
15  0.75  0.249002
16  0.80  0.307229
17  0.85  0.387961
18  0.90  0.483330
19  0.95  0.664381
20  1.00  1.000000

RFM:

      기준  quantile
0   0.00  0.000000
1   0.05  0.015754
2   0.10  0.036509
3   0.15  0.053607
4   0.20  0.069692
5   0.25  0.082637
6   0.30  0.089830
7   0.35  0.095923
8   0.40  0.103026
9   0.45  0.112406
10  0.50  0.124379
11  0.55  0.139250
12  0.60  0.158212
13  0.65  0.179448
14  0.70  0.203792
15  0.75  0.231103
16  0.80  0.265445
17  0.85  0.310073
18  0.90  0.372152
19  0.95  0.472270
20  1.00  0.871665

## 그룹 기준

(9등급 - RFM)

G1: VVIP  - RFM 상위 10% 
G2: 이탈예정 VVIP - FM 상위 25% and R 하위 25%
G3: 평균고객(꾸준히 관리) - RFM 40-60%
G4: 마케팅 비용 축소 - RFM 하위 10%
G5: 객단가 낮은 애들 - RF 상위 25% and M 하위 50%
G6: {n주 대비} 상승 고객 - (20.11.22)등급 4,5,6 중 상승한 고객(21.05.31)
G7: {n주 대비} 하락 고객 - (20.11.22)등급 1,2,3 중 하락한 고객(21.05.31)

In [29]:
df.shape

(1787713, 34)

## G1

G1: VVIP  - RFM 상위 10%

In [30]:
df['RFM_AVG'].quantile(.90)

0.3721518588285076

In [31]:
df.loc[(df['RFM_AVG'] >= df['RFM_AVG'].quantile(.90))].shape

(178772, 34)

In [32]:
df.loc[df['RFM_AVG'] >= df['RFM_AVG'].quantile(.90)].head()

,ORDRR_MBER_NO,2020-11-22,2020-11-29,2020-12-06,2020-12-13,2020-12-20,2020-12-27,2021-01-03,2021-01-10,2021-01-17,2021-01-24,2021-01-31,2021-02-07,2021-02-14,2021-02-21,2021-02-28,2021-03-07,2021-03-14,2021-03-21,2021-03-28,2021-04-04,2021-04-11,2021-04-18,2021-04-25,2021-05-02,2021-05-09,2021-05-16,2021-05-23,2021-05-30,R_AVG,F_AVG,M_AVG,RFM_AVG,GRADE
0,0,0.991968,0.963855,0.935743,0.907631,0.879518,0.851406,0.823293,0.795181,0.767068,0.738956,0.710843,0.682731,0.682731,0.666667,0.718876,0.690763,0.690763,0.670683,0.967871,0.939759,0.911647,0.883534,0.855422,0.827309,0.799197,0.771084,0.742972,0.714859,0.419535,1.000000,1.000000,0.806512,1.0
1,1,0.471231,0.435073,0.404001,0.373406,0.557229,0.562450,0.547300,0.526813,0.479093,0.450980,0.586094,0.599649,0.571536,0.575368,0.547256,0.531842,0.475948,0.641356,0.610755,0.582913,0.554874,0.524528,0.661580,0.579509,0.583133,0.532798,0.504685,0.476573,0.389415,0.342845,0.869309,0.533856,1.0
2,35,0.885907,0.827492,0.856378,0.828265,0.796185,0.784739,0.786256,0.795181,0.767068,0.699740,0.669177,0.661898,0.628263,0.708434,0.635877,0.623637,0.619334,0.824632,0.796519,0.746185,0.718072,0.689960,0.684070,0.611513,0.561178,0.533066,0.504953,0.515127,0.403614,0.713433,1.000000,0.705682,1.0
3,80,0.512354,0.478484,0.673743,0.661503,0.638153,0.626707,0.611557,0.591070,0.562958,0.534845,0.494478,0.445532,0.444779,0.422222,0.202785,0.151152,0.123039,0.429334,0.400400,0.771252,0.743245,0.711945,0.623575,0.685676,0.657564,0.629451,0.601339,0.617671,0.470740,0.335173,0.806245,0.537386,1.0
4,88,0.864914,0.882256,0.851979,0.823867,0.810040,0.781928,0.787149,0.759036,0.730924,0.702811,0.633032,0.614709,0.565763,0.597323,0.569210,0.576018,0.571715,0.876841,0.870950,0.887282,0.814726,0.764391,0.758501,0.730388,0.724498,0.740830,0.712718,0.662383,0.424699,0.789535,1.000000,0.738078,1.0

In [33]:
df.loc[(df['RFM_AVG'] >= df['RFM_AVG'].quantile(.90))].to_csv('RFM-2020-11-22_2021-05-30_G1.csv', index=False)

## G2

G2: 이탈예정 VVIP - FM 상위 25% and R 하위 25%

In [34]:
df.loc[(df['F_AVG'] >= df['F_AVG'].quantile(.75))&(df['M_AVG'] >= df['M_AVG'].quantile(.75))&(df['R_AVG'] <= df['R_AVG'].quantile(.25))].shape

(903, 34)

In [35]:
df.loc[(df['F_AVG'] >= df['F_AVG'].quantile(.75))&(df['M_AVG'] >= df['M_AVG'].quantile(.75))&(df['R_AVG'] <= df['R_AVG'].quantile(.25))].head()

,ORDRR_MBER_NO,2020-11-22,2020-11-29,2020-12-06,2020-12-13,2020-12-20,2020-12-27,2021-01-03,2021-01-10,2021-01-17,2021-01-24,2021-01-31,2021-02-07,2021-02-14,2021-02-21,2021-02-28,2021-03-07,2021-03-14,2021-03-21,2021-03-28,2021-04-04,2021-04-11,2021-04-18,2021-04-25,2021-05-02,2021-05-09,2021-05-16,2021-05-23,2021-05-30,R_AVG,F_AVG,M_AVG,RFM_AVG,GRADE
29,761,0.277147,0.247447,0.676611,0.696118,0.679116,0.651004,0.648817,0.635956,0.607843,0.712733,0.700552,0.672440,0.644327,0.634270,0.197928,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.147160,0.334825,0.448263,0.310083,3.0
431,8189,0.653158,0.625046,0.601262,0.573150,0.549799,0.521687,0.504685,0.483109,0.359815,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.112306,0.096331,0.313331,0.173990,4.0
761,10587,0.651104,0.554500,0.523879,0.492319,0.465694,0.436398,0.420399,0.396005,0.367263,0.340241,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.139845,0.095778,0.262356,0.165993,4.0
797,10791,0.427957,0.391167,0.361191,0.249302,0.373001,0.343707,0.313958,0.288674,0.357031,0.329457,0.306215,0.280028,0.253725,0.232069,0.208014,0.183787,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.151463,0.095511,0.277949,0.174974,4.0
2072,19474,0.704454,0.691493,0.669153,0.656913,0.635944,0.607831,0.577867,0.558469,0.510749,0.443421,0.215269,0.151464,0.124504,0.095157,0.067961,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.165232,0.163682,0.390084,0.239666,4.0

In [36]:
df.loc[(df['F_AVG'] >= df['F_AVG'].quantile(.75))&(df['M_AVG'] >= df['M_AVG'].quantile(.75))&(df['R_AVG'] <= df['R_AVG'].quantile(.25))].to_csv('RFM-2020-11-22_2021-05-30_G2.csv', index=False)

## G3

G3: 평균고객(꾸준히 관리) - RFM 40-60%

In [37]:
df.loc[(df['RFM_AVG'] >= df['RFM_AVG'].quantile(.40))&(df['RFM_AVG'] <= df['RFM_AVG'].quantile(.60))].shape

(357545, 34)

In [38]:
df.loc[(df['RFM_AVG'] >= df['RFM_AVG'].quantile(.40))&(df['RFM_AVG'] <= df['RFM_AVG'].quantile(.60))].head()

,ORDRR_MBER_NO,2020-11-22,2020-11-29,2020-12-06,2020-12-13,2020-12-20,2020-12-27,2021-01-03,2021-01-10,2021-01-17,2021-01-24,2021-01-31,2021-02-07,2021-02-14,2021-02-21,2021-02-28,2021-03-07,2021-03-14,2021-03-21,2021-03-28,2021-04-04,2021-04-11,2021-04-18,2021-04-25,2021-05-02,2021-05-09,2021-05-16,2021-05-23,2021-05-30,R_AVG,F_AVG,M_AVG,RFM_AVG,GRADE
5,124,0.000000,0.000000,0.000000,0.00000,0.000000,0.500005,0.475603,0.447454,0.418932,0.39153,0.367834,0.342262,0.316536,0.294664,0.271905,0.246317,0.218205,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.224613,0.026633,0.208531,0.153259,5.0
8,235,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.519330,0.485694,0.457084,0.428517,0.399631,0.372496,0.347025,0.180723,0.016667,0.125086,0.107492,5.0
12,348,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.579432,0.551391,0.521098,0.486312,0.457599,0.428938,0.399890,0.372959,0.348037,0.205250,0.042857,0.196070,0.148059,5.0
24,694,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.494627,0.466571,0.436761,0.403456,0.374876,0.346337,0.317496,0.290303,0.264674,0.189759,0.021429,0.152573,0.121254,5.0
25,713,0.181429,0.152388,0.124489,0.09609,0.068564,0.040354,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.451746,0.423340,0.394960,0.366390,0.338855,0.312300,0.201377,0.038791,0.076000,0.105389,5.0

In [39]:
df.loc[(df['RFM_AVG'] >= df['RFM_AVG'].quantile(.40))&(df['RFM_AVG'] <= df['RFM_AVG'].quantile(.60))].to_csv('RFM-2020-11-22_2021-05-30_G3.csv', index=False)

## G4

G4: 마케팅 비용 축소 - RFM 하위 10%

In [41]:
df.loc[(df['RFM_AVG'] <= df['RFM_AVG'].quantile(.10))].shape

(178772, 34)

In [42]:
df.loc[(df['RFM_AVG'] <= df['RFM_AVG'].quantile(.10))].head()

,ORDRR_MBER_NO,2020-11-22,2020-11-29,2020-12-06,2020-12-13,2020-12-20,2020-12-27,2021-01-03,2021-01-10,2021-01-17,2021-01-24,2021-01-31,2021-02-07,2021-02-14,2021-02-21,2021-02-28,2021-03-07,2021-03-14,2021-03-21,2021-03-28,2021-04-04,2021-04-11,2021-04-18,2021-04-25,2021-05-02,2021-05-09,2021-05-16,2021-05-23,2021-05-30,R_AVG,F_AVG,M_AVG,RFM_AVG,GRADE
14,368,0.077685,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001291,0.001623,0.005409,0.002774,9.0
31,798,0.197624,0.168061,0.139876,0.111316,0.083675,0.055409,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.050344,0.010220,0.020432,0.026999,8.0
45,1079,0.205480,0.172236,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.005594,0.009740,0.025135,0.013490,9.0
48,1099,0.082450,0.070877,0.042908,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.005164,0.008194,0.007667,0.007008,9.0
107,2269,0.051289,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000430,0.001623,0.003442,0.001832,9.0

In [43]:
df.loc[(df['RFM_AVG'] <= df['RFM_AVG'].quantile(.10))].to_csv('RFM-2020-11-22_2021-05-30_G4.csv', index=False)

## G5

G5: 객단가 낮은 애들 - RF 상위 25% and M 하위 50%

In [45]:
df.loc[(df['F_AVG'] >= df['F_AVG'].quantile(.75))&(df['R_AVG'] >= df['R_AVG'].quantile(.75))&(df['M_AVG'] <= df['M_AVG'].quantile(.50))].shape

(4228, 34)

In [46]:
df.loc[(df['F_AVG'] >= df['F_AVG'].quantile(.75))&(df['R_AVG'] >= df['R_AVG'].quantile(.75))&(df['M_AVG'] <= df['M_AVG'].quantile(.50))].head()

,ORDRR_MBER_NO,2020-11-22,2020-11-29,2020-12-06,2020-12-13,2020-12-20,2020-12-27,2021-01-03,2021-01-10,2021-01-17,2021-01-24,2021-01-31,2021-02-07,2021-02-14,2021-02-21,2021-02-28,2021-03-07,2021-03-14,2021-03-21,2021-03-28,2021-04-04,2021-04-11,2021-04-18,2021-04-25,2021-05-02,2021-05-09,2021-05-16,2021-05-23,2021-05-30,R_AVG,F_AVG,M_AVG,RFM_AVG,GRADE
749,10522,0.039396,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.336836,0.370146,0.342260,0.317385,0.289779,0.264930,0.236817,0.205358,0.410291,0.420603,0.392505,0.363950,0.309418,0.246359,0.218178,0.189947,0.161984,0.134273,0.412220,0.103941,0.046384,0.187515,4.0
1503,15617,0.365610,0.335998,0.309230,0.252797,0.226062,0.197850,0.173682,0.115894,0.087760,0.059684,0.032961,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.345486,0.385749,0.357702,0.329608,0.300952,0.271178,0.270665,0.242400,0.214029,0.186243,0.159014,0.378657,0.099794,0.080894,0.186448,4.0
1683,16946,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.377038,0.401846,0.373870,0.350050,0.322427,0.294775,0.505113,0.479061,0.459246,0.431133,0.394384,0.365511,0.274791,0.209783,0.181329,0.152173,0.123966,0.095768,0.000000,0.000000,0.000000,0.396730,0.140978,0.082892,0.206867,4.0
2897,25429,0.000000,0.384562,0.357381,0.328979,0.302246,0.274035,0.249865,0.223787,0.195621,0.167600,0.142350,0.114564,0.086759,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.404797,0.496003,0.507577,0.479177,0.450573,0.423081,0.396644,0.410499,0.135254,0.095562,0.213771,4.0
3091,26856,0.336553,0.308092,0.280510,0.273462,0.246805,0.218629,0.194373,0.168347,0.140201,0.112147,0.086746,0.058842,0.094635,0.068076,0.098146,0.350406,0.322293,0.290864,0.262597,0.234501,0.206394,0.178142,0.149605,0.414034,0.385817,0.357527,0.312963,0.285547,0.515921,0.122477,0.051201,0.229866,4.0

In [47]:
df.loc[(df['F_AVG'] >= df['F_AVG'].quantile(.75))&(df['R_AVG'] >= df['R_AVG'].quantile(.75))&(df['M_AVG'] <= df['M_AVG'].quantile(.50))].to_csv('RFM-2020-11-22_2021-05-30_G5.csv', index=False)

## G6, G7 - 패스

G6: {n주 대비} 상승 고객 - (20.11.22)등급 4,5,6 중 상승한 고객(21.05.31)
G7: {n주 대비} 하락 고객 - (20.11.22)등급 1,2,3 중 하락한 고객(21.05.31)

기준점이 잘 안나와서 패스

In [49]:
df.columns

Index(['ORDRR_MBER_NO', '2020-11-22', '2020-11-29', '2020-12-06', '2020-12-13',
       '2020-12-20', '2020-12-27', '2021-01-03', '2021-01-10', '2021-01-17',
       '2021-01-24', '2021-01-31', '2021-02-07', '2021-02-14', '2021-02-21',
       '2021-02-28', '2021-03-07', '2021-03-14', '2021-03-21', '2021-03-28',
       '2021-04-04', '2021-04-11', '2021-04-18', '2021-04-25', '2021-05-02',
       '2021-05-09', '2021-05-16', '2021-05-23', '2021-05-30', 'R_AVG',
       'F_AVG', 'M_AVG', 'RFM_AVG', 'GRADE'],
      dtype='object')

### 20.11.22 기준 등급표 생성

In [52]:
standard_201122 = pd.DataFrame({'min':[0, 
                                df['2020-11-22'].quantile(.04),
                                df['2020-11-22'].quantile(.11),
                                df['2020-11-22'].quantile(.23),
                                df['2020-11-22'].quantile(.40),
                                df['2020-11-22'].quantile(.60),
                                df['2020-11-22'].quantile(.77),
                                df['2020-11-22'].quantile(.89),
                                df['2020-11-22'].quantile(.96)], 
                         'max':[df['2020-11-22'].quantile(.04),
                                df['2020-11-22'].quantile(.11),
                                df['2020-11-22'].quantile(.23),
                                df['2020-11-22'].quantile(.40),
                                df['2020-11-22'].quantile(.60),
                                df['2020-11-22'].quantile(.77),
                                df['2020-11-22'].quantile(.89),
                                df['2020-11-22'].quantile(.96),1], 
                         'grade':[9,8,7,6,5,4,3,2,1]})

In [57]:
df['2020-11-22'].notnull().sum()

1787713

In [58]:
df['2020-11-22'].quantile(.04)

0.0

In [53]:
standard_201122

        min       max  grade
0  0.000000  0.000000      9
1  0.000000  0.000000      8
2  0.000000  0.000000      7
3  0.000000  0.000000      6
4  0.000000  0.165365      5
5  0.165365  0.352527      4
6  0.352527  0.496383      3
7  0.496383  0.683096      2
8  0.683096  1.000000      1

In [54]:
df['20-11-22_grade'] = None

In [55]:
for i in tqdm(range(0, 9)):
    df.loc[((df['2020-11-22'] >= standard_201122.iloc[i]['min'])&(df['2020-11-22'] < standard_201122.iloc[i]['max'])) ,'20-11-22_grade'] = standard_201122.iloc[i]['grade']
    print('{}등급 완료'.format(i+1))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=9.0), HTML(value='')))

1등급 완료
2등급 완료
3등급 완료
4등급 완료
5등급 완료
6등급 완료
7등급 완료
8등급 완료
9등급 완료

In [56]:
df['20-11-22_grade'].value_counts()

5.0    1072625
4.0     303912
3.0     214527
2.0     124710
1.0      71900
Name: 20-11-22_grade, dtype: int64

# 고객 세그멘테이션 분류(2차)

In [25]:
df = pd.read_csv('RFM-2020-11-22_2021-05-30_grade_average_total.csv')

In [3]:
df.shape

(1787713, 34)

In [4]:
df.head()

,ORDRR_MBER_NO,2020-11-22,2020-11-29,2020-12-06,2020-12-13,2020-12-20,2020-12-27,2021-01-03,2021-01-10,2021-01-17,2021-01-24,2021-01-31,2021-02-07,2021-02-14,2021-02-21,2021-02-28,2021-03-07,2021-03-14,2021-03-21,2021-03-28,2021-04-04,2021-04-11,2021-04-18,2021-04-25,2021-05-02,2021-05-09,2021-05-16,2021-05-23,2021-05-30,R_AVG,F_AVG,M_AVG,RFM_AVG,GRADE
0,0,0.991968,0.963855,0.935743,0.907631,0.879518,0.851406,0.823293,0.795181,0.767068,0.738956,0.710843,0.682731,0.682731,0.666667,0.718876,0.690763,0.690763,0.670683,0.967871,0.939759,0.911647,0.883534,0.855422,0.827309,0.799197,0.771084,0.742972,0.714859,0.419535,1.000000,1.000000,0.806512,1.0
1,1,0.471231,0.435073,0.404001,0.373406,0.557229,0.562450,0.547300,0.526813,0.479093,0.450980,0.586094,0.599649,0.571536,0.575368,0.547256,0.531842,0.475948,0.641356,0.610755,0.582913,0.554874,0.524528,0.661580,0.579509,0.583133,0.532798,0.504685,0.476573,0.389415,0.342845,0.869309,0.533856,1.0
2,35,0.885907,0.827492,0.856378,0.828265,0.796185,0.784739,0.786256,0.795181,0.767068,0.699740,0.669177,0.661898,0.628263,0.708434,0.635877,0.623637,0.619334,0.824632,0.796519,0.746185,0.718072,0.689960,0.684070,0.611513,0.561178,0.533066,0.504953,0.515127,0.403614,0.713433,1.000000,0.705682,1.0
3,80,0.512354,0.478484,0.673743,0.661503,0.638153,0.626707,0.611557,0.591070,0.562958,0.534845,0.494478,0.445532,0.444779,0.422222,0.202785,0.151152,0.123039,0.429334,0.400400,0.771252,0.743245,0.711945,0.623575,0.685676,0.657564,0.629451,0.601339,0.617671,0.470740,0.335173,0.806245,0.537386,1.0
4,88,0.864914,0.882256,0.851979,0.823867,0.810040,0.781928,0.787149,0.759036,0.730924,0.702811,0.633032,0.614709,0.565763,0.597323,0.569210,0.576018,0.571715,0.876841,0.870950,0.887282,0.814726,0.764391,0.758501,0.730388,0.724498,0.740830,0.712718,0.662383,0.424699,0.789535,1.000000,0.738078,1.0

In [26]:
df.rename(columns={'GRADE':'RFM_GRADE'}, inplace=True)

In [27]:
df.head()

,ORDRR_MBER_NO,2020-11-22,2020-11-29,2020-12-06,2020-12-13,2020-12-20,2020-12-27,2021-01-03,2021-01-10,2021-01-17,2021-01-24,2021-01-31,2021-02-07,2021-02-14,2021-02-21,2021-02-28,2021-03-07,2021-03-14,2021-03-21,2021-03-28,2021-04-04,2021-04-11,2021-04-18,2021-04-25,2021-05-02,2021-05-09,2021-05-16,2021-05-23,2021-05-30,R_AVG,F_AVG,M_AVG,RFM_AVG,RFM_GRADE
0,0,0.991968,0.963855,0.935743,0.907631,0.879518,0.851406,0.823293,0.795181,0.767068,0.738956,0.710843,0.682731,0.682731,0.666667,0.718876,0.690763,0.690763,0.670683,0.967871,0.939759,0.911647,0.883534,0.855422,0.827309,0.799197,0.771084,0.742972,0.714859,0.419535,1.000000,1.000000,0.806512,1.0
1,1,0.471231,0.435073,0.404001,0.373406,0.557229,0.562450,0.547300,0.526813,0.479093,0.450980,0.586094,0.599649,0.571536,0.575368,0.547256,0.531842,0.475948,0.641356,0.610755,0.582913,0.554874,0.524528,0.661580,0.579509,0.583133,0.532798,0.504685,0.476573,0.389415,0.342845,0.869309,0.533856,1.0
2,35,0.885907,0.827492,0.856378,0.828265,0.796185,0.784739,0.786256,0.795181,0.767068,0.699740,0.669177,0.661898,0.628263,0.708434,0.635877,0.623637,0.619334,0.824632,0.796519,0.746185,0.718072,0.689960,0.684070,0.611513,0.561178,0.533066,0.504953,0.515127,0.403614,0.713433,1.000000,0.705682,1.0
3,80,0.512354,0.478484,0.673743,0.661503,0.638153,0.626707,0.611557,0.591070,0.562958,0.534845,0.494478,0.445532,0.444779,0.422222,0.202785,0.151152,0.123039,0.429334,0.400400,0.771252,0.743245,0.711945,0.623575,0.685676,0.657564,0.629451,0.601339,0.617671,0.470740,0.335173,0.806245,0.537386,1.0
4,88,0.864914,0.882256,0.851979,0.823867,0.810040,0.781928,0.787149,0.759036,0.730924,0.702811,0.633032,0.614709,0.565763,0.597323,0.569210,0.576018,0.571715,0.876841,0.870950,0.887282,0.814726,0.764391,0.758501,0.730388,0.724498,0.740830,0.712718,0.662383,0.424699,0.789535,1.000000,0.738078,1.0

## R, F, M 각각의 등급 부여

### R

In [28]:
standard_R = pd.DataFrame({'min':[0, df['R_AVG'].quantile(.04),df['R_AVG'].quantile(.11),df['R_AVG'].quantile(.23),df['R_AVG'].quantile(.40),df['R_AVG'].quantile(.60),df['R_AVG'].quantile(.77),df['R_AVG'].quantile(.89),df['R_AVG'].quantile(.96)], 'max':[df['R_AVG'].quantile(.04),df['R_AVG'].quantile(.11),df['R_AVG'].quantile(.23),df['R_AVG'].quantile(.40),df['R_AVG'].quantile(.60),df['R_AVG'].quantile(.77),df['R_AVG'].quantile(.89),df['R_AVG'].quantile(.96),1], 'grade':[9,8,7,6,5,4,3,2,1]})

In [29]:
standard_R

        min       max  grade
0  0.000000  0.018072      9
1  0.018072  0.072289      8
2  0.072289  0.158778      7
3  0.158778  0.204389      6
4  0.204389  0.233649      5
5  0.233649  0.382100      4
6  0.382100  0.448795      3
7  0.448795  0.508176      2
8  0.508176  1.000000      1

In [30]:
len(df.columns)

34

In [34]:
df.insert(33, 'R_GRADE', None)

In [35]:
df.columns

Index(['ORDRR_MBER_NO', '2020-11-22', '2020-11-29', '2020-12-06', '2020-12-13',
       '2020-12-20', '2020-12-27', '2021-01-03', '2021-01-10', '2021-01-17',
       '2021-01-24', '2021-01-31', '2021-02-07', '2021-02-14', '2021-02-21',
       '2021-02-28', '2021-03-07', '2021-03-14', '2021-03-21', '2021-03-28',
       '2021-04-04', '2021-04-11', '2021-04-18', '2021-04-25', '2021-05-02',
       '2021-05-09', '2021-05-16', '2021-05-23', '2021-05-30', 'R_AVG',
       'F_AVG', 'M_AVG', 'RFM_AVG', 'R_GRADE', 'RFM_GRADE'],
      dtype='object')

In [75]:
for i in tqdm(range(0, 9)):
    if standard_R.iloc[i]['max'] == 1:
        df.loc[((df['R_AVG'] >= standard_R.iloc[i]['min'])&(df['R_AVG'] <= standard_R.iloc[i]['max'])) ,'R_GRADE'] = standard_R.iloc[i]['grade']
    else:
        df.loc[((df['R_AVG'] >= standard_R.iloc[i]['min'])&(df['R_AVG'] < standard_R.iloc[i]['max'])) ,'R_GRADE'] = standard_R.iloc[i]['grade']
    
    
    print('{}등급 완료'.format(i+1))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=9.0), HTML(value='')))

1등급 완료
2등급 완료
3등급 완료
4등급 완료
5등급 완료
6등급 완료
7등급 완료
8등급 완료
9등급 완료

In [76]:
df['R_GRADE'].value_counts()

5.0    357626
6.0    305340
4.0    303663
3.0    214600
7.0    214251
8.0    126982
2.0    125322
1.0     71541
9.0     68388
Name: R_GRADE, dtype: int64

In [77]:
df['R_GRADE'].isnull().sum()

0

### F

In [12]:
standard_F = pd.DataFrame({'min':[0, df['F_AVG'].quantile(.04),df['F_AVG'].quantile(.11),df['F_AVG'].quantile(.23),df['F_AVG'].quantile(.40),df['F_AVG'].quantile(.60),df['F_AVG'].quantile(.77),df['F_AVG'].quantile(.89),df['F_AVG'].quantile(.96)], 'max':[df['F_AVG'].quantile(.04),df['F_AVG'].quantile(.11),df['F_AVG'].quantile(.23),df['F_AVG'].quantile(.40),df['F_AVG'].quantile(.60),df['F_AVG'].quantile(.77),df['F_AVG'].quantile(.89),df['F_AVG'].quantile(.96),1], 'grade':[9,8,7,6,5,4,3,2,1]})

In [38]:
standard_F

        min       max  grade
0  0.000000  0.004762      9
1  0.004762  0.010220      8
2  0.010220  0.020439      7
3  0.020439  0.028614      6
4  0.028614  0.055102      5
5  0.055102  0.103061      4
6  0.103061  0.189881      3
7  0.189881  0.349231      2
8  0.349231  1.000000      1

In [39]:
len(df.columns)

35

In [42]:
del df['F_GRADE']

In [43]:
df.insert(34, 'F_GRADE', None)

In [44]:
df.columns

Index(['ORDRR_MBER_NO', '2020-11-22', '2020-11-29', '2020-12-06', '2020-12-13',
       '2020-12-20', '2020-12-27', '2021-01-03', '2021-01-10', '2021-01-17',
       '2021-01-24', '2021-01-31', '2021-02-07', '2021-02-14', '2021-02-21',
       '2021-02-28', '2021-03-07', '2021-03-14', '2021-03-21', '2021-03-28',
       '2021-04-04', '2021-04-11', '2021-04-18', '2021-04-25', '2021-05-02',
       '2021-05-09', '2021-05-16', '2021-05-23', '2021-05-30', 'R_AVG',
       'F_AVG', 'M_AVG', 'RFM_AVG', 'R_GRADE', 'F_GRADE', 'RFM_GRADE'],
      dtype='object')

In [68]:
for i in tqdm(range(0, 9)):
    if standard_F.iloc[i]['max'] == 1:
        df.loc[((df['F_AVG'] >= standard_F.iloc[i]['min'])&(df['F_AVG'] <= standard_F.iloc[i]['max'])) ,'F_GRADE'] = standard_F.iloc[i]['grade']
    else:
        df.loc[((df['F_AVG'] >= standard_F.iloc[i]['min'])&(df['F_AVG'] < standard_F.iloc[i]['max'])) ,'F_GRADE'] = standard_F.iloc[i]['grade']
    
    
    
    print('{}등급 완료'.format(i+1))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=9.0), HTML(value='')))

1등급 완료
2등급 완료
3등급 완료
4등급 완료
5등급 완료
6등급 완료
7등급 완료
8등급 완료
9등급 완료

In [69]:
df['F_GRADE'].value_counts()

5.0    359584
4.0    305168
6.0    302172
7.0    217871
3.0    214589
8.0    126333
2.0    125140
1.0     71509
9.0     65347
Name: F_GRADE, dtype: int64

In [70]:
df['F_GRADE'].isnull().sum()

0

### M

In [47]:
standard_M = pd.DataFrame({'min':[0, df['M_AVG'].quantile(.04),df['M_AVG'].quantile(.11),df['M_AVG'].quantile(.23),df['M_AVG'].quantile(.40),df['M_AVG'].quantile(.60),df['M_AVG'].quantile(.77),df['M_AVG'].quantile(.89),df['M_AVG'].quantile(.96)], 'max':[df['M_AVG'].quantile(.04),df['M_AVG'].quantile(.11),df['M_AVG'].quantile(.23),df['M_AVG'].quantile(.40),df['M_AVG'].quantile(.60),df['M_AVG'].quantile(.77),df['M_AVG'].quantile(.89),df['M_AVG'].quantile(.96),1], 'grade':[9,8,7,6,5,4,3,2,1]})

In [48]:
standard_M

        min       max  grade
0  0.000000  0.006051      9
1  0.006051  0.016037      8
2  0.016037  0.034645      7
3  0.034645  0.068701      6
4  0.068701  0.141350      5
5  0.141350  0.270312      4
6  0.270312  0.459285      3
7  0.459285  0.719238      2
8  0.719238  1.000000      1

In [51]:
len(df.columns)

37

In [56]:
del df['M_GRADE']

In [57]:
df.insert(35, 'M_GRADE', None)

In [58]:
df.columns

Index(['ORDRR_MBER_NO', '2020-11-22', '2020-11-29', '2020-12-06', '2020-12-13',
       '2020-12-20', '2020-12-27', '2021-01-03', '2021-01-10', '2021-01-17',
       '2021-01-24', '2021-01-31', '2021-02-07', '2021-02-14', '2021-02-21',
       '2021-02-28', '2021-03-07', '2021-03-14', '2021-03-21', '2021-03-28',
       '2021-04-04', '2021-04-11', '2021-04-18', '2021-04-25', '2021-05-02',
       '2021-05-09', '2021-05-16', '2021-05-23', '2021-05-30', 'R_AVG',
       'F_AVG', 'M_AVG', 'RFM_AVG', 'R_GRADE', 'F_GRADE', 'M_GRADE',
       'RFM_GRADE'],
      dtype='object')

In [71]:
for i in tqdm(range(0, 9)):
    if standard_M.iloc[i]['max'] == 1:
        df.loc[((df['M_AVG'] >= standard_M.iloc[i]['min'])&(df['M_AVG'] <= standard_M.iloc[i]['max'])) ,'M_GRADE'] = standard_M.iloc[i]['grade']
    else:
        df.loc[((df['M_AVG'] >= standard_M.iloc[i]['min'])&(df['M_AVG'] < standard_M.iloc[i]['max'])) ,'M_GRADE'] = standard_M.iloc[i]['grade']
    
    print('{}등급 완료'.format(i+1))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=9.0), HTML(value='')))

1등급 완료
2등급 완료
3등급 완료
4등급 완료
5등급 완료
6등급 완료
7등급 완료
8등급 완료
9등급 완료

In [72]:
df['M_GRADE'].value_counts()

5.0    357551
4.0    303911
6.0    303903
7.0    214557
3.0    214525
2.0    125140
8.0    125132
1.0     71509
9.0     71485
Name: M_GRADE, dtype: int64

In [73]:
df['M_GRADE'].isnull().sum()

0

In [78]:
df.head()

,ORDRR_MBER_NO,2020-11-22,2020-11-29,2020-12-06,2020-12-13,2020-12-20,2020-12-27,2021-01-03,2021-01-10,2021-01-17,2021-01-24,2021-01-31,2021-02-07,2021-02-14,2021-02-21,2021-02-28,2021-03-07,2021-03-14,2021-03-21,2021-03-28,2021-04-04,2021-04-11,2021-04-18,2021-04-25,2021-05-02,2021-05-09,2021-05-16,2021-05-23,2021-05-30,R_AVG,F_AVG,M_AVG,RFM_AVG,R_GRADE,F_GRADE,M_GRADE,RFM_GRADE
0,0,0.991968,0.963855,0.935743,0.907631,0.879518,0.851406,0.823293,0.795181,0.767068,0.738956,0.710843,0.682731,0.682731,0.666667,0.718876,0.690763,0.690763,0.670683,0.967871,0.939759,0.911647,0.883534,0.855422,0.827309,0.799197,0.771084,0.742972,0.714859,0.419535,1.000000,1.000000,0.806512,3,1,1,1.0
1,1,0.471231,0.435073,0.404001,0.373406,0.557229,0.562450,0.547300,0.526813,0.479093,0.450980,0.586094,0.599649,0.571536,0.575368,0.547256,0.531842,0.475948,0.641356,0.610755,0.582913,0.554874,0.524528,0.661580,0.579509,0.583133,0.532798,0.504685,0.476573,0.389415,0.342845,0.869309,0.533856,3,2,1,1.0
2,35,0.885907,0.827492,0.856378,0.828265,0.796185,0.784739,0.786256,0.795181,0.767068,0.699740,0.669177,0.661898,0.628263,0.708434,0.635877,0.623637,0.619334,0.824632,0.796519,0.746185,0.718072,0.689960,0.684070,0.611513,0.561178,0.533066,0.504953,0.515127,0.403614,0.713433,1.000000,0.705682,3,1,1,1.0
3,80,0.512354,0.478484,0.673743,0.661503,0.638153,0.626707,0.611557,0.591070,0.562958,0.534845,0.494478,0.445532,0.444779,0.422222,0.202785,0.151152,0.123039,0.429334,0.400400,0.771252,0.743245,0.711945,0.623575,0.685676,0.657564,0.629451,0.601339,0.617671,0.470740,0.335173,0.806245,0.537386,2,2,1,1.0
4,88,0.864914,0.882256,0.851979,0.823867,0.810040,0.781928,0.787149,0.759036,0.730924,0.702811,0.633032,0.614709,0.565763,0.597323,0.569210,0.576018,0.571715,0.876841,0.870950,0.887282,0.814726,0.764391,0.758501,0.730388,0.724498,0.740830,0.712718,0.662383,0.424699,0.789535,1.000000,0.738078,3,1,1,1.0

In [79]:
df.to_csv('RFM-2020-11-22_2021-05-30_each_grade_each_average_total.csv', index=False)

## 그룹핑 작업

1. VVIP: R(1,2등급), F(1,2등급), M(1,2등급) ← 특별대접, VVIP와 평규고객 비교분석 필요
2. Loyal Customers: R(4,3,2등급), F(2,3등급), M(1,2등급) ←VVIP가 되면 받을 혜택 알림
3. Potenial Loyalist: R(5등급), F(4등급), M(3등급) ← 약간의 자극으로 충성고객이 될 수 있는 고객군
4. 최근 구매고객: R(1,2등급), F(8,9등급), M(8,9등급) ← 일회성 구매로 끝나지 않도록 꾸준한 터치 필요
5. Need Attention: R(4등급), F(4등급), M(4등급) ← 조금만 자극을 주면 반응이 나타날 평균이상고객군
6. 평균 고객: R(5등급), F(5등급), M(5등급) ← R.F.M 항목 모두 평균 
7. About To Sleep: R(6등급), F(6등급), M(6등급) ← 평균에서 쳐지고 있는 고객군, 평균으로 끌어올려야함
8. Can't Lose Them, 이탈위험 VVIP: R(8,9등급), F(1,2등급), M(1,2등급) ← 놓치려고하는 VVIP
9. Hibernating: R(7등급), F(7등급), M(7등급) ← 잃어버리기 직전의 고객
10. Lost: R(8,9등급), F(8,9등급), M(8,9등급) ← 잃어버린 고객

In [94]:
df.shape

(1787713, 37)

### VVIP

1, 2 / 1, 2 / 1, 2

In [83]:
df.loc[((df['R_GRADE'] == 1)|(df['R_GRADE'] == 2))&((df['F_GRADE'] == 1)|(df['F_GRADE'] == 2))&((df['M_GRADE'] == 1)|(df['M_GRADE'] == 2))].shape

(71370, 37)

In [96]:
(71370/1787713)*100

3.9922515526821143

### Loyal Customers

4, 3, 2 / 2, 3 / 1, 2

In [86]:
df.loc[((df['R_GRADE'] == 4)|(df['R_GRADE'] == 3)|(df['R_GRADE'] == 2))&((df['F_GRADE'] == 3)|(df['F_GRADE'] == 2))&((df['M_GRADE'] == 1)|(df['M_GRADE'] == 2))].shape

(90041, 38)

In [97]:
(90041/1787713)*100

5.036658568797116

### Potential Loyalist

5 / 4 / 3

In [92]:
df.loc[(df['R_GRADE'] == 5)&(df['F_GRADE'] == 4)&(df['M_GRADE'] == 3)].shape

(9989, 37)

In [98]:
(9989/1787713)*100

0.5587585926823824

### 최근 구매고객

1, 2 / 8, 9 / 8, 9

In [93]:
df.loc[((df['R_GRADE'] == 1)|(df['R_GRADE'] == 2))&((df['F_GRADE'] == 8)|(df['F_GRADE'] == 9))&((df['M_GRADE'] == 8)|(df['M_GRADE'] == 9))].shape

(0, 37)

In [99]:
(0/1787713)*100

0.0

### Need Attention

4 / 4 / 4

In [100]:
df.loc[(df['R_GRADE'] == 4)&(df['F_GRADE'] == 4)&(df['M_GRADE'] == 4)].shape

(43528, 37)

In [101]:
(43528/1787713)*100

2.434842729230027

### 평균 고객

5 / 5/ 5

In [102]:
df.loc[(df['R_GRADE'] == 5)&(df['F_GRADE'] == 5)&(df['M_GRADE'] == 5)].shape

(43203, 37)

In [103]:
(43203/1787713)*100

2.416663077350783

### About to Sleep

6 / 6 / 6

In [104]:
df.loc[(df['R_GRADE'] == 6)&(df['F_GRADE'] == 6)&(df['M_GRADE'] == 6)].shape

(40465, 37)

In [105]:
(40465/1787713)*100

2.2635065024419467

### Can't Lose Them

8, 9 / 1, 2 / 1, 2

In [106]:
df.loc[((df['R_GRADE'] == 8)|(df['R_GRADE'] == 9))&((df['F_GRADE'] == 1)|(df['F_GRADE'] == 2))&((df['M_GRADE'] == 1)|(df['M_GRADE'] == 2))].shape

(0, 37)

In [96]:
(71370/1787713)*100

3.9922515526821143

### Hibernating

7 / 7 / 7

In [107]:
df.loc[(df['R_GRADE'] == 7)&(df['F_GRADE'] == 7)&(df['M_GRADE'] == 7)].shape

(37031, 37)

In [108]:
(37031/1787713)*100

2.0714175038163285

### Lost

8, 9 / 8, 9 / 8, 9

In [109]:
df.loc[((df['R_GRADE'] == 8)|(df['R_GRADE'] == 9))&((df['F_GRADE'] == 8)|(df['F_GRADE'] == 9))&((df['M_GRADE'] == 8)|(df['M_GRADE'] == 9))].shape

(102695, 37)

In [110]:
(102695/1787713)*100

5.744490306889305